<article>
	<h1><a href="{{ article.slug }}">{{ article.title }}</a></h1>
	{% assign post = article %}
	{% include "articles/date-tags" %}
	{{ article.body }}
	<p><a href="http://twitter.com/?status=@gavinwye Re: {{ article.title }}">Discuss on Twitter</a></p>
</article>