<header>
	<div>
		{% comment %}<a href="/">{{ global.title }}</a>{% endcomment %}
		<h1 class="title"><a href="/">{{ global.title }}</a></h1>
		<p class="author">{{ global.intro }}</p>
		{% comment %}<p>{{ global.intro }}</p>{% endcomment %}	
	</div>
</header>
<nav>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/experiments/">Experiments</a></li>
		<li><a href="/guiding-principles/">Guiding Principles</a></li>
		<!-- <li><a href="/links/">Links</a></li> -->
		<!-- <li><a href="about/">About</a></li> -->
		<li><a href="/archive/">Post Archive</a></li>
	</ul>
</nav>